* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url('./imagens/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 800px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu {
    width: 50%;
}

.logo-menu img {
    width: 35%;
}

.itens-menu {
    width: 50%;
    text-align: right;
}

.itens-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.itens-menu a:hover {
    border-bottom: 2px solid #FFDD33;
}

.itens-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.itens-menu a.contact-btn:hover {
    border: 0;
    background-color: #4CAF50;
}

.saiba-mais {
    display: block;
    width: 100%;
    color: black;
    text-align: center;
    padding-top: 100px;
}

.saiba-mais h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.saiba-mais h2 {
    margin: 10px 10px 10px 10px;
}
.noticias {
    margin-top: 30px;
}

.noticias a {
    font-weight: bold;
    color: rgb(238, 223, 17);
    margin: 10px 10px 10px 10px;
    margin-top: 10px;
}

.noticias a:hover {
    color: red;
}

section.cta {
    background-image: url('imagens/banner_final.svg');
    background-size: cover;
    background-position: bottom;
    padding: 20px 10px;
    min-height: 200px;
    color: white;
    text-align: center;
}

section.cta h4 {
    font-weight: normal;
    margin: 20px 20px 20px 20px;
    text-align: center;
}