* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url('/Objetos/Imagens/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.logo-menu {
    width: 50%;
}

.logo-menu img {
    width: 35%;
}

.itens-menu {
    width: 50%;
    text-align: right;
}

.itens-menu a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.itens-menu a:hover {
    border-bottom: 2px solid #FFDD33;
}

.itens-menu a.contact-btn {
    background-color: #0F3FD3;
    padding: 10px 10px;
    border-radius: 10px;
}

.itens-menu a.contact-btn:hover {
    border: 0;
    background-color: #4CAF50;
}

iframe {
    justify-content: center;
    margin-top: 50px;
}

footer.cta {
    background-image: url('/Objetos/Imagens/banner_final.svg');
    background-size: cover;
    background-position: bottom;
    padding: 20px 10px;
    min-height: 200px;
    color: white;
    text-align: center;
}

footer.cta h4 {
    font-weight: normal;
    margin: 20px 20px 20px 20px;
    text-align: center;
}
